@import 'mixins';

.questions {
    &_title {
        font-size: 96px;
        text-align: start;
        color: white;
        margin: 132px 0px 100px 0px;
        @include br(md) {
            font-size: 70px;
        }
        @include br(sm) {
            font-size: 60px;
            line-height: 80px;
        }
    }
    &_wrapper {

        &-item {
            border-bottom: 1px rgba(128, 128, 128, 0.637) solid;
            margin: 24px 0px 0px 0px;
            @include br(sm) {
                margin: 0px 0px 0px 0px;
            }

            &--title {
                width: 100%;
                color: white;
                display: flex;
                align-items: start;
                justify-content: space-between;
                background-color: transparent;
                border: none;
                text-align: start;
                padding: 34px 5px 34px 0px;
                font-size: 24px;
                margin: 0px 0px 0px 0px;
                @include br(sm) {
                    font-size: 16px;
                }
                span {
                    display: block;
                    width: 15px;
                    height: 15px;
                    border-top: 2px white solid;
                    border-left: 2px white solid;
                    transform: rotate(-135deg);
                    transition: 0.3s ease;
                }
            }
            &--description {
                color: white;
                display: none;
            }
        }
    }
    
}


.openDescriptionText {
    display: block;
}

.arrowRotate {
    transform: rotate(45deg) !important;
    transition: 0.3s ease;
}